*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

ul, li, ol {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

article > * + * {
  margin-top: 1em; }

.wrapper {
  position: relative;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto; }

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 45px; }
  header .logotip {
    width: 85px; }
  header .menu {
    width: auto; }
    header .menu__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 10px; }

header .menu--action {
  color: linear-gradient(#ff6969, #C36F6F); }

header .menu__link:hover {
  color: linear-gradient(#ff6969, #C36F6F); }
